<h1><%= @flat.title %></h1>
<p><%= @flat.description %></p>
<%= @flat.price %>
<%= @flat.currency %>
<% @flat.photos.each do |p| %>
  <div class="col-xs-4">
    <%= image_tag p.url :medium %>
    <%= link_to "Delete", p.destroy %>
  </div>
<% end %>

<%= bootstrap_form_for(@flat, html: { multipart: true }) do |f| %>
  <%= f.file_field :picture, label: "Add a picture:" %>
  <%= f.submit "Add picture", class: "btn btn-primary" %>
<% end %>
