<h1><%= @flat.title %></h1>
<p><%= @flat.description %></p>
<% @flat.photos.each do |photo| %>
  <%= image_tag photo.picture.url(:medium) %>
<% end %>
<%= @flat.price %>
<%= @flat.currency %>
<br>
<%= link_to "Edit flat", edit_flat_path(@flat) %>
