<h1><%= @flat.title %></h1>
<p><%= @flat.description %></p>
<%= @flat.price %>
<%= @flat.currency %>

<% if @flat.photos.first %>
  <% @flat.photos.each do |p| %>
    <div class="col-xs-4">
      <%= image_tag p.url %>
      <%= link_to "Delete", p.destroy %>
    </div>
  <% end %>
<% end %>

<%= form_for(@flat, html: { multipart: true }) do |f| %>
  <%= f.file_field :picture %>
  <%= f.submit "Add picture", class: "btn btn-primary" %>
<% end %>
