<div class="container">
  <div class="row">
    <div class="col-xs-12 white-bg padding-btm-15 margin-top-20">
      <h1>Ma réservation de <%= @booking.flat.title %></h1>
      <% @booking.flat.photos.each do |photo| %>
        <div class="col-xs-4">
          <div class="img-thumbnail flat-picture">
            <%= image_tag photo.picture.url(:medium) %>
          </div>
        </div>
      <% end %>
      <p><strong>Status: </strong>
        <% if @booking.accepted %>
          Accepted!
        <% elsif @booking.accepted.nil? %>
          Pending...
        <% else %>
          Declined :(
        <% end %>
      </p>
      <p><strong>Period: </strong><%= (@booking.end_date - @booking.start_date).to_i %> nights, from <%= @booking.start_date %> to <%= @booking.end_date %>.</p>
      <p><strong>Total price: </strong><%= (@booking.end_date - @booking.start_date).to_i * @booking.flat.price %> <%= @booking.flat.currency %></p>
    </div>
  </div>
</div>
<br>
<br>